body > .navbar {
    top: 0;

    min-height: 38px;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;

    border-width: 0 0 1px;
    -webkit-border-radius: 0;
            border-radius: 0;
    background-color: #333;
}

body > .navbar .container-fluid {
    padding-top: 2px;
    padding-bottom: 2px;
    margin: 0;
}

body > .navbar .navbar-collapse {
    padding: 0;
}

body > .navbar .navbar-collapse .navbar-nav {
    height: 34px;

    font-size: 14px;

    color: #fff;
}

body > .navbar .navbar-collapse .navbar-right {
    height: 34px;
    padding-right: 10px;
    padding-left: 10px;

    font-size: 14px;

    color: #fff;
}

body > .navbar .navbar-toggle {
    padding-left: 20px;

    font-size: 11px;

    color: #fff;
}

body > .navbar .navbar-toggle {
    float: left !important;
    padding-left: 15px;
    margin-left: 0;

    font-size: 12px;
}

#dropdownMenu1 {
    margin-top: 9px;
    margin-right: 35px;
    margin-left: 4px;
}

#dropdownMenu1 + .dropdown-menu {
    min-width: 151px;
    margin-left: 4px;
}

.btn.dropdown-toggle .caret {
    margin-left: 5px;
}

.btn-bordered {
    border: solid 1px #979797;
    background-color: white;
}

.logos .spacer:nth-child(3) img {
    height: auto !important;
    max-width: 100%;
    max-height: 19px;
}

#front {
    position: relative;
    z-index: 1;

    height: 560px;
}

#front .container {
    position: relative;
    z-index: 5;

    display: table;
    height: 100%;
}

#front .container .wr {
    display: table-cell;

    vertical-align: middle;
}

#front-slider {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    width: 100%;
    height: 100%;
    overflow: hidden;
}

#front-slider .fslide {
    display: block;
    width: 100%;
    height: 560px;

    background-repeat: none;
    background-position: center center;
    background-size: cover;
}

#front h1 {
    margin-top: 0;
    margin-bottom: 35px;

    font-size: 54px;
    font-weight: normal;
    line-height: 1.11;

    color: white;
    text-shadow: 0 2px 10px rgba(0, 0, 0, .3);
}

.main-filter .btn-submit {
    padding: 0;

    font-size: 20px;
    font-weight: 300;
    line-height: 78px;

    -webkit-border-radius: 0 2px 2px 0;
            border-radius: 0 2px 2px 0;
}

.btn-bright {
    color: white;
    border-color: #f03e3e;
    background-color: #f03e3e;
}

.btn-bright:hover,
.btn-bright:focus,
.btn-bright:active {
    color: white;
    border-color: #d72525;
    background-color: #d72525;
}

.main-filter select {
    text-indent: 1px;
    text-overflow: ellipsis;

    -webkit-appearance: none;
       -moz-appearance: none;
}

.main-filter .form-control {
    padding-top: 0;
    padding-right: 20px;
    padding-bottom: 0;
    padding-left: 0;
    margin-left: 4px;

    font-size: 20px;
    line-height: 1;

    color: #333;
    border: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
}

.main-filter .dash-wr::after {
    position: absolute;
    bottom: 17px;
    left: -12px;

    font-size: 20px;
    line-height: 1;

    content: "—";

    opacity: .4;
    color: #333;
}

.main-filter {
    margin-bottom: 70px;
    overflow: hidden;

    -webkit-border-radius: 2px;
            border-radius: 2px;
    -webkit-box-shadow: 0 5px 20px 0 rgba(24, 25, 32, .3);
            box-shadow: 0 5px 20px 0 rgba(24, 25, 32, .3);
}

.main-filter .form-group {
    height: 80px;
    margin-bottom: 0;

    background-color: #fff;
}

.main-filter .form-group > label {
    margin-top: 14px;
    margin-bottom: 6px;
    margin-left: 5px;

    font-size: 16px;
    font-weight: normal;
    line-height: 1.0;

    color: #f03e3e;
}

.main-filter .form-control::-webkit-input-placeholder {
    opacity: .4;
    color: #333;
}

.main-filter .form-control::-moz-placeholder {
    opacity: .4;
    color: #333;
}

.main-filter .form-control:-moz-placeholder {
    opacity: .4;
    color: #333;
}

.main-filter .form-control:-ms-input-placeholder {
    opacity: .4;
    color: #333;
}

.main-filter .form-group:nth-of-type(1),
.main-filter .form-group:nth-of-type(2) {
    border-right: 1px solid #f3f2f3;
}

.main-filter .sel-wr {
    position: relative;
}

.main-filter .sel-wr .caret {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    margin: auto;

    border-top: 6px solid #555;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
}

.logos-wr {
    padding-bottom: 30px;
    margin-top: 10px;
    margin-bottom: 10px;

    border-bottom: 1px solid #f1f2f2;
}

.fc-big-pic,
.fc-min-pic {
    position: relative;
    z-index: 1;

    display: block;
    overflow: hidden;

    text-decoration: none;

    color: white;
}

.fc-big-pic:hover,
.fc-min-pic:hover,
.fc-big-pic:focus,
.fc-min-pic:focus {
    text-decoration: none;

    color: white;
}

.front-catalog .wrap {
    margin-bottom: 24px;
    overflow: hidden;
}

.pl0 {
    padding-left: 0;
}

.pr0 {
    padding-right: 0;
}

.fc-big-pic .img,
.fc-min-pic .img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;

    display: block;
    width: 100%;
    height: 100%;

    -webkit-transition: .2s ease-out;
         -o-transition: .2s ease-out;
            transition: .2s ease-out;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
         -o-transform: scale(1);
            transform: scale(1);

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    0% {
        -o-transform: rotate(0deg);
           transform: rotate(0deg);
    }

    100% {
        -o-transform: rotate(360deg);
           transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
             -o-transform: rotate(0deg);
                transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
             -o-transform: rotate(360deg);
                transform: rotate(360deg);
    }
}

.loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: block;
    width: 24px;
    height: 24px;
    margin: auto;

    content: "";
    -webkit-animation: spin 1s infinite linear;
         -o-animation: spin 1s infinite linear;
            animation: spin 1s infinite linear;

    border: 2px solid rgba(0, 0, 0, .2);
    border-top-color: #333;
    -webkit-border-radius: 50%;
            border-radius: 50%;
}

.fc-big-pic .text,
.fc-min-pic .text {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;

    display: inline-block;

    vertical-align: bottom;
}

.fc-big-pic .text {
    bottom: 21px;
    left: 21px;

    font-size: 36px;
    font-weight: 300;
    line-height: 1.2;
}

.fc-min-pic .text {
    bottom: 18px;
    left: 21px;

    font-size: 28px;
    font-weight: 300;
    line-height: 1.43;
}

.fc-big-pic {
    height: 500px;
}

.fc-min-pic {
    height: 238px;
}

.front-catalog h2 {
    margin-top: 0;
    margin-bottom: 43px;

    font-size: 36px;
    font-weight: 500;
    line-height: 1.11;

    letter-spacing: normal;

    color: #333;
}

.front-catalog h2 span {
    color: #f03e3e;
}

.front-catalog {
    padding-top: 53px;
    margin-bottom: 97px;
}

.fc-big-pic:hover .img,
.fc-min-pic:hover .img,
.fc-big-pic:focus .img,
.fc-min-pic:focus .img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
         -o-transform: scale(1.1);
            transform: scale(1.1);
}

.front-catalog .btn {
    min-width: 215px;
    margin-top: 25px;
}
