@media (max-width: 1199px) {
    .navbar-black .navbar-nav > li > a,
    .navbar-black .navbar-nav > li > a:link,
    .navbar-black .navbar-nav > li > a:visited {
        padding-right: 10px;
        padding-left: 10px;

        font-size: 16px;
    }

    #dropdownMenu1 {
        margin-right: 30px;
    }
}

@media (max-width: 991px) {
    .fc-big-pic .text {
        font-size: 30px;
    }

    .fc-min-pic .text {
        font-size: 22px;
    }

    .main-filter .dash-wr::after {
        left: -11px;
    }

    #front h1 {
        font-size: 40px;
    }

    .main-filter {
        margin-bottom: 40px;
    }

    .main-filter .btn-submit {
        -webkit-border-radius: 0 0 2px 2px;
                border-radius: 0 0 2px 2px;
    }

    .main-filter .form-group:nth-of-type(1),
    .main-filter .form-group:nth-of-type(2) {
        border-bottom: 1px solid #f3f2f3;
    }

    .main-filter .form-group:nth-of-type(1) {
        -webkit-border-radius: 2px 0 0 0;
                border-radius: 2px 0 0 0;
    }

    .main-filter .form-group:nth-of-type(2) {
        border-right: 0;
        -webkit-border-radius: 0 2px 0 0;
                border-radius: 0 2px 0 0;
    }

    #dropdownMenu1 {
        margin-right: 0;
    }

    .navbar-nav > li:last-child a {
        padding-right: 0 !important;
    }

    .spacer .navbar-toggle {
        margin-top: 10px;
    }

    .choose-city-wrapper {
        float: right;
    }

    .navbar-header {
        width: 100%;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .spacer .main-menu {
        width: 100%;
    }

    .spacer .main-menu > li > a:focus,
    .spacer .main-menu > li > a:hover,
    .spacer .main-menu > li > a {
        background-color: transparent;
    }

    .spacer .main-menu > li > a {
        padding-right: 17px !important;
        padding-left: 17px !important;
    }

    .spacer .main-menu > li:first-child > a {
        padding-left: 0 !important;
    }

    .main-menu .open > .dropdown-menu-large.dropdown-menu {
        margin-left: 16px;
    }

    .main-menu li.open:first-child > .dropdown-menu-large.dropdown-menu {
        margin-left: 0;
    }

    .main-menu li:last-child > .dropdown-menu-large,
    .main-menu li:nth-last-child(2) > .dropdown-menu-large, {
        margin-right: 16px;
    }

    .main-menu li:nth-last-child(3) > .dropdown-menu-large {
        right: auto !important;
        left: 0 !important;
    }
}

@media (max-width: 885px) {
    body > .navbar .navbar-collapse .navbar-nav {
        font-size: 12px;
    }

    body > .navbar .navbar-collapse .navbar-nav a.href-secondary:first-child {
        padding-left: 0 !important;
    }
}

@media (max-width: 767px) {
    .front-catalog h2 {
        margin-bottom: 30px;

        font-size: 30px;
    }

    .front-catalog {
        margin-bottom: 50px;
    }

    .pl0,
    .pr0 {
        padding-right: 15px;
        padding-left: 15px;
    }

    .fc-min-pic,
    .fc-big-pic {
        height: 238px;
    }

    .fc-min-pic .text,
    .fc-big-pic .text {
        font-size: 22px;
        line-height: 1.43;
    }

    #front,
    #front-slider .fslide {
        height: 480px;
    }

    .main-filter {
        margin-bottom: 20px;
    }

    .main-filter .form-group > label {
        margin-top: 16px;
        margin-left: 0;

        font-size: 14px;
    }

    .main-filter .form-control {
        margin-left: 0;
    }

    .main-filter .dash-wr::after {
        bottom: 19px;
        left: -8px;

        font-size: 16px;
    }

    .main-filter .form-control {
        font-size: 16px;
    }

    .main-filter .form-group {
        padding-right: 10px;
        padding-left: 10px;
    }

    #front h1 {
        font-size: 26px;
    }

    body > .navbar {
        min-height: 30px;
    }

    .main-menu {
        width: 100%;
        margin-right: 0;
        margin-left: 0;
    }
}

@media (min-width: 992px) {
    .main-filter .form-group:nth-of-type(1) {
        width: 24.4%;
    }

    .main-filter .form-group:nth-of-type(2) {
        width: 25.7%;
    }

    .main-filter .form-group:nth-of-type(3) {
        width: 18.4%;
    }

    .main-filter .form-group:nth-of-type(4) {
        width: 18.2%;
    }

    .main-filter .btn-submit {
        width: 13.3%;
    }
}

@media (min-width: 768px) {
    .main-menu .dropdown-large {
        position: relative !important;
    }

    .main-menu .dropdown-menu-large {
        margin-right: 0;
        margin-left: 0;
    }

    .main-menu .dropdown-menu-large > li {
        display: block;
        width: 100%;
    }

    .main-menu .open > .dropdown-menu-large.dropdown-menu {
        display: -webkit-box;
        display: -webkit-flex;
        display:    -moz-box;
        display: -ms-flexbox;
        display:         flex;
                flex-direction: row;

        -webkit-box-direction: normal;
           -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
           -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
            -ms-flex-direction: row;
    }

    .main-menu li:last-child > .dropdown-menu-large,
    .main-menu li:nth-last-child(2) > .dropdown-menu-large,
    .main-menu li:nth-last-child(3) > .dropdown-menu-large {
        right: 0;
        left: auto;

        margin-right: 0;
    }
}
